# Byte-compiled / Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
env/

# OS files
.DS_Store

# Airflow metadata DB & logs (should stay local)
airflow/
airflow_home/

# Data files (keep raw & processed local)
data/raw/
data/processed/

# Airflow logs inside Docker volume (if any)
logs/

# VSCode config (optional)
.vscode/

# Environment variables
.env
